/* @import url('https://fonts.googleapis.com/
css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */

*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: sans-serif;

}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #060606;;
    transition: 0.5s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 400px;
    
}

header ul{
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #272a37;
    font-weight: 400;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;

}

.content .textBox h2 {

    color: #96f4dd;;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;

}

.content .textBox h2 span {

    font-size: 2em;
}

.content .textBox p {
    color: #6ce6e4;
    font-size: 40px;
}

.content .imgBox {
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}

.content .imgBox img {
    max-width: 960px;
}